
  @media (prefers-color-scheme: dark) {
    * {
      --dark-color: #1a1a1a;
      --text-color:  var(--light-color);
      --bg-color: var(--dark-color);
    }

    html {
      /*filter: invert(0.9);*/
    }
    html > * {
      /*filter: invert(1);*/

    }
    body {
      background-image: url("./assets/bg-dark.png");
      /*background: var(--dark-color);*/

    }


    #title img {
      filter: invert(0.1);
    }

    .comicControls > div, .comicControls2 > div, .searchButton, .borderimg {
      filter: invert(0.9);
    }


  }